GARFEX_DB_HOST=
GARFEX_DB_PORT=
GARFEX_DB_NAME=
GARFEX_DB_USER=
GARFEX_DB_PASSWORD=CHANGE_ME
GARFEX_DB_SSLMODE=
GARFEX_LOG_LEVEL=

POSTGRES_USER=
POSTGRES_PASSWORD=CHANGE_ME
POSTGRES_DB=
GARFEX_ADMIN_PASSWORD=CHANGE_ME
GARFEX_APP_PASSWORD=CHANGE_ME
